/**{
    margin: 0;
    padding: 0;
    outline: none;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}*/

@media screen and (min-device-width: 320px) {
    html{
        font-size:50px;
    }
}
@media screen and (min-device-width: 360px) {
    html{
        font-size:56.25px;
    }
}
@media screen and (min-device-width: 400px) {
    html{
        font-size:62.5px;
    }
}

@media screen and (min-device-width: 440px) {
    html{
        font-size:68.75px;
    }
}
@media screen and (min-device-width: 480px) {
    html{
        font-size:75px;
    }

}
@media screen and (min-device-width: 640px) {
    html{
        font-size: 100px;
    }

}

html,body{
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: #f0f0f0;
}
header{
    width: 100%;
    height:0.9rem;
    line-height: 0.9rem;
    font-size: 0.36rem;
    text-align: center;
    color: #fff;
    background:#2a282c;
    position: absolute;
    top:0;
    left:0;
    z-index: 111;
}
header span{
    position:absolute;
    left: 0.5rem;
}
header span:before{
    position: absolute;
    left: -0.25rem;
    top: 0.3rem;
    content: "";
    width: 0.2rem;
    height: 0.2rem;
    border-top: solid 2px white;
    border-left: solid 2px white;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
header ul{
    position: absolute;
    top: 0.1rem;
    right: 0.3rem;
    font-size: 0;
}
header ul li{
    display: inline-block;
    margin-left: 0.05rem;
    width: 0.12rem;
    height: 0.12rem;
    background: white;
    border-radius: 50%;
}
.main{
    position: relative;
    top: 0.9rem;
    left: 0;
    overflow: auto;
    padding-bottom: 1.5rem;
}
.content{
    position: relative;
    width: 100%;
    height: 4.4rem;
    background: url("../images/banner_02.jpg") no-repeat;
    background-size: cover;
}
.score{
    padding-top: 0.8rem;
    width: 100%;
    display: flex;
    -webkit-display:flex;
    flex-flow: row nowrap;/*水平排列，禁止换行*/
    -webkit-flex-flow: row nowrap;/*水平排列，禁止换行*/
    justify-content: center;/*水平居中*/
    -webkit-justify-content: center;/*水平居中*/
    align-items: center;/*垂直居中*/
    -webkit-align-items: center;/*垂直居中*/
}
.score p img{
    width: 100%;
}
.score p:nth-child(1),.score p:nth-child(3){
    height: 0.86rem;
    width: 0.86rem;
}
.score p:nth-child(2){
    font-size: 0.6rem;
    color: white;
    margin: 0 0.3rem;
}
.date{
    padding-top: 0.3rem;
    font-size: 0.2rem;
    color: white;
    text-align: center;
}
.video{
    margin: 0.4rem auto;
    width: 1.6rem;
    height: 0.4rem;
    line-height: 0.4rem;
    background: white;
    font-size: 0.24rem;
    color: #5bb0e0;
    text-align: center;
}
.video span{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.16rem;
    border-left: 0.15rem solid #5bb0e0;
    border-top: 0.075rem solid transparent;
    border-bottom: 0.075rem solid transparent;
}
.number{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.75rem;
    border-top: solid 1px white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.number p{
    font-size: 0.3rem;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.number p span img{
    width: 100%;
}
.number p span{
    display: inline-block;
    padding: 0.35rem;
    width: 0.3rem;
    height: 0.4rem;
}
.number p:nth-child(2){
    height: 0.3rem;
    width: 0;
    border-right: solid 1px white;
}

.scoreNum{
    padding: 0 0.25rem;
}
.scoreNum h3{
    font-size: 0.28rem;
    color: #4d4f51;
    font-weight: bold;
}
.scoreNum ul{
    border-bottom:1px solid #ccc;
    font-size: 0.28rem;
    line-height: 0.7rem;
    display: flex;
    -webkitdisplay: flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}
.scoreNum dl{
    border-bottom:1px solid #ccc;
    padding: 0.2rem 0;
    height: 1.19rem;
}
.scoreNum dl dt{
    float:left;
    margin-right:0.15rem;
    width: 1.5rem;
    height: 1.19rem;
}
.scoreNum dl dt img{
    width: 100%;
}
.scoreNum dl dd{
    font-size: 0.3rem;
    color: #696969;
    line-height: 0.34rem;
}
.scoreNum dl dd:nth-of-type(1){
    font-weight: bold;
    color: #000;
}
footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.25rem 0;
    background: white;
}
footer section{
    position: relative;
    padding: 0 0.25rem;
    overflow: hidden;
    display: flex;
    -webkit-display: flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
}
footer dl{
    /*position: absolute;
    left: 0;
    top: 0;*/
    width: 80%;
    overflow: hidden;
}
footer dl dt{
    float: left;
    width: 0.9rem;
    height: 0.94rem;
}
footer dl dt img{
    width: 100%;
}
footer dl dd{
}
footer dl dd:nth-of-type(1){
    font-size: 0.36rem;
    color: #313131;
    padding: 0.1rem 0 0 0.1rem;
}
footer dl dd:nth-of-type(2){
    font-size: 0.24rem;
    color: #6d747d;
}
footer button{
    /*position: absolute;
    right: 0;
    top: 0;*/
    display: block;
    width: 1.2rem;
    height: 0.6rem;
    background: #289ce9;
    color: white;
    font-size: 0.32rem;
    border: none;
    border-radius: 0.12rem;
}